body {
  background-color: #E0E0E0;
}



p#title {
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 24;
  font-weight: 700;
}

p#body {
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Lato', sans-serif;
  font-size: 16;
  font-weight: 400;
}

a#nav {
  font-family: 'Lato', sans-serif;
  font-size: 16;
  font-weight: 700;
  padding-left: 10px;
  color: white;
  display: inline;
  white-space: nowrap;
  line-height: 50px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

a.clients {
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 5px 0px 5px;
  padding: 5px 15px 5px 15px;
  line-height: 65px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 34;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

#line {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  height: 1px;
  background-color: black;
}

#header {
  margin: 0;
  height: 80px;
  background-color: black;
  width: 100vw;
}

#footer {

  overflow: auto;
  overflow-y: hidden;
  display: inline;
  white-space: nowrap;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: solid 1px #616161;
  background-color: black;
  height: 50px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
