body {
  background-color: #F5F5F5;
  overflow-y: scroll;
  overflow-x: hidden;
}

.menuBar {
  z-index: 20;
  top:0;
  left: 0;
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
}
#jobsContainer {
  overflow: hidden;
  margin-top: 50px;
  margin-left: -10px;
  margin-right: 0px;
  top:50px;
  width: 102%;
  background-color: black;
  -webkit-overflow-scrolling: touch;
}

img#chevron {
  margin-top: 47px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 16px;
  content: url("chevron.png");
}

#jobComplete {
  position: absolute;
  right: 0;
  height: 120px;
  background-color: #B9F6CA;
  width: 10px;

}
#jobPending {
  position: absolute;
  right: 0;
  height: 120px;
  background-color: #FFFF8D;
  width: 10px;
}

#jobObject {
  overflow-x: hidden;
  left: 10px;
  right: 0px;
  -webkit-user-select: none; /* Chrome/Safari */
  -webkit-tap-highlight-color: rgba(0,0,0,0.0);
  overflow: hidden;
  cursor: grab;
  width: 110%;
  height: 120px;
  background-color: white;
  color: #424242;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
}

p#JobDate {
  margin-top: -15;
  vertical-align: text-top;
  margin-left: 16px;
  text-align: left;
  width: 110%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 120px;
  font-size: 28;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently */
}

p#jobCode {
  margin-top: -80;
  vertical-align: text-top;
  margin-left: 16px;
  text-align: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 50px;
  font-size: 12;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently */
           z-index: 100;
}



p#menuBarText {
  margin-top: 0;
  vertical-align: text-top;
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 50px;
  font-size: 24;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently*/
}

img#shareIcon {
  width: 25px;
  height: 25px;
}
a#share {
  position: fixed;
  top: 12;
  right: 16px;
  width: 30px;
  height: 30px;
}

img#menuIcon {
  width: 25px;
  height: 25px;
}
a#menu {
  position: fixed;
  top: 12;
  left: 16px;
  width: 30px;
  height: 30px;
}

#snackbar {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #E0E0E0;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 100%; /* Set a default minimum width */
    margin-left: 0; /* Divide value of min-width by 2 */
    background-color: white; /* Black background color */
    color: black; /* White text color */
    text-align: center; /* Centered text */
    padding: 0; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 0; /* Center the snackbar */
    height: 50px;
    bottom: 0px; /* 30px from the bottom */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 50px;
    font-size: 24;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: -50px; opacity: 1;}
    to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: -50px; opacity: 1;}
    to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: -50px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: -50px; opacity: 1;}
}
