body {
  overflow-x: hidden;
}

p.title {

  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 100;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 100px;
}
p.subtitle {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 20;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-left: 100px;
}

p.description {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24;
  width: 500px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 100px;

}

a.modifier {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20;
  margin-left: 100px;
  width: 20px;
  overflow: hidden;
  white-space: nowrap;
}

a.modifier:hover {
  cursor: pointer;
}

.block {
  transition: width 2s;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  padding-bottom: 15px;
  height: 600px;
}

img.blockImage {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  left: 700px;
}
