body {
  background-color: #F5F5F5;
  overflow-y: scroll;
  overflow-x: hidden;
}

.menuBar {
  z-index: 20;
  top:0;
  left: 0;
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
}

#footer {
  height: 75px;
  background-color: white;
  position: fixed;
  bottom:0;
  width: 100%;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E0E0E0;
}

#formContainer {
  position: absolute;
  margin:0px;
  left: -5px;
  overflow: hidden;
  top:40px;
  width: 102%;
  padding-bottom: 75px;
}

p#inputSub {
  color: #BDBDBD;
  margin-left: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 50px;
  font-size: 12;
}

.column {
    float: left;
    width: 45.33%;
    height: 50px;
}

/* Clear floats after the columns */
.row:after {
    padding-top: 30px;
    content: "";
    display: table;
    clear: both;
}

input[type=tel] {
  padding-left: 20px;
  margin-top: -20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E0E0E0;
  border-left-width: 0px;
  border-right-width: 0px;
  width: 100%;
  text-align:left;
  outline: none;
  background-color: white;
  color: #424242;
  font-family: 'Roboto', sans-serif;
  font-size: 30;
  font-weight: 100;
  height: 50px;
  -webkit-appearance: none;
}

input[type=text] {
  margin-top: -20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E0E0E0;
  border-left-width: 0px;
  border-right-width: 0px;
  width: 100%;
  text-align:left;
  padding-left: 20px;
  outline: none;
  background-color: white;
  color: #424242;
  font-family: 'Roboto', sans-serif;
  font-size: 30;
  font-weight: 100;
  height: 50px;
  -webkit-appearance: none;
}

input[type=submit] {
  width: 300px;
  border-radius: 10px;
  margin-top: 25px;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 50px;
  font-size: 24;
  border: 0;
  -webkit-appearance: none;
}

input[type=submit]:highlighted {
  color: rgba(0,0,0,0.8);
}


p#menuBarText {
  margin-top: 0;
  vertical-align: text-top;
  text-align: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 50px;
  font-size: 24;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently*/
}

img#chevron {
  margin-top: 47px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 16px;
  content: url("chevron.png");
}

img#menuIcon {
  width: 25px;
  height: 25px;
}
a#menu {
  position: fixed;
  top: 12;
  left: 16px;
  width: 30px;
  height: 30px;
}
