body {
  background-color: #F5F5F5;
}

.card {
  border-radius: 24px;
  margin-top: 10%;
  background-color: white;
  width: 90%;
  max-width: 500px;
  height: auto;
  padding-bottom: 5px;
  box-shadow: 0 3px 9px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.06);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

p#cardHead {
  padding-top: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 36;
}

p#cardSubHead {
  margin-top: -20;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16;
}

a#clientLogin {
  -webkit-tap-highlight-color: rgba(0,0,0,0.0);
 text-decoration: none;
}

p#clientEntry {
  -webkit-tap-highlight-color: rgba(0,0,0,0.0);
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16;
}

input[type=text] {
  width: 90%;
  text-align:center;
  outline: none;
  color: #424242;
  font-family: 'Roboto', sans-serif;
  font-size: 60;
  font-weight: 100;
  height: auto;
  border:0;
}

input[type=submit] {
  -webkit-appearance: none;
  border-radius: 15px;
  width: 89%;
  height: 40;
  border: 0;
  outline: none;
  color: #424242;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

input[type=submit]:hover {
  background-color: #F5F5F5;
}
