body {
  background-color: #F5F5F5;
}


.menuBar {
  z-index: 20;
  top:0;
  left: 0;
  position: fixed;
  background-color: white;
  height: 50px;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
}

#driveContainer {

  top:50px;
}

.player {
  left: 20px;
  top:50px;
  width: 500px;
  position: fixed;
  background-color: #F5F5F5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
}
.player2 {
  left: 520px;
  top:50px;
  width: 500px;
  position: fixed;
  background-color: #F5F5F5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
}
#footer {
  visibility: hidden;
  left: 0;
  position: fixed;
  bottom: 0;
  height: 90px;
  width: 100%;
  background-color: white;
  z-index: 100;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E0E0E0;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#footer.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: Ffadein 0.5s, Ffadeout 0.5s 2.5s;
    animation: Ffadein 0.5s, Ffadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes Ffadein {
    from {bottom: -90px; opacity: 1;}
    to {bottom: 0px; opacity: 1;}
}

@keyframes Ffadein {
    from {bottom: -90px; opacity: 1;}
    to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes Ffadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: -90px; opacity: 1;}
}

@keyframes Ffadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: -90px; opacity: 1;}
}

.drives {
  z-index: -1;
  position: absolute;
  background-color: white;
  left: 50%;
    transform: translate(-50%, 0);
  width: 100%;
  max-width: 700px;
  margin-bottom: -90px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.driveClass {

}
#driveObject {
  cursor: grab;
  z-index: 100;
  position: relative;
  display: block;
  -webkit-user-select: none; /* Chrome/Safari */
  -webkit-tap-highlight-color: rgba(0,0,0,0.0);
  overflow: hidden;
  width: 100%;
  height: 90px;
  background-color: white;
  color: #424242;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E0E0E0;
}

p#driveSerial {
  margin-top: -10;
  vertical-align: text-top;
  margin-left: 16px;
  text-align: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 80px;
  font-size: 28;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently */
}

p#driveTime {
  margin-top: -70;
  vertical-align: text-top;
  margin-left: 16px;
  text-align: left;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 50px;
  font-size: 12;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently */
           z-index: 100;
}


.bottomLeft {
  z-index: 100;
  left: 33%;
  bottom: 0;
  height: 100px;
  width: 33.3%;
}

.bottomCenter {
  margin-top: -116;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

}
.bottomRight {
  left: 0;
  bottom: 0;
  margin-top: -100px;
  margin-left: 66.6%;
  height: 100px;
  width: 33.3%;
  overflow-y: scroll;
  overflow-x: hidden;
}

p#bottomTitle {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16;
}

p#DRIVECOUNT {
  margin-top: -5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24;
}

p#JOBID {
  margin-top: -5px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24;
}

img#signature {
  width: 100px;
  height: auto;
  mix-blend-mode: multiply;
}

img#shareIcon {
  width: 25px;
  height: 25px;
}
a#share {
  position: fixed;
  top: 12;
  right: 8px;
  width: 30px;
  height: 30px;
}

img#info {
  width: 25px;
  height: 25px;
}
a#info {
  position: fixed;
  top: 12;
  right: 48px;
  width: 30px;
  height: 30px;
}

img#menuIcon {
  width: 25px;
  height: 25px;
}
a#menu {
  position: fixed;
  top: 12;
  left: 8px;
  width: 30px;
  height: 30px;
}



p#menuBarText {
  margin-top: 0;
  vertical-align: text-top;
  text-align: left;
  margin-left: 32px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 50px;
  font-size: 24;
  -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently*/
}

#snackbar {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #E0E0E0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #E0E0E0;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 100%; /* Set a default minimum width */
    margin-left: 0; /* Divide value of min-width by 2 */
    background-color: white; /* Black background color */
    color: black; /* White text color */
    text-align: center; /* Centered text */
    padding: 0; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999; /* Add a z-index if needed */
    left: 0; /* Center the snackbar */
    height: 50px;
    bottom: 0px; /* 30px from the bottom */
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 50px;
    font-size: 24;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: -50px; opacity: 1;}
    to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: -50px; opacity: 1;}
    to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: -50px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: -50px; opacity: 1;}
}
